.button {
  min-width: 40px !important;
}

h3 {
  text-align: center;
  color: #f50057;
}

section h3 {
  color: #26c3d4;
}

section {
  margin-top: 4rem;
}

li {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
